## .NET
bin/
obj/
*.db
*.db-shm
*.db-wal

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

## Visual Studio cache/options
.vs/
.vscode/

## Rider
.idea/

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Others
*.log
*.cache
*.dll
*.exe
*.pdb
*.tmp
